<?xml version="1.0"?>
<configuration>

    <!--<system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>-->
	<!--<system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>-->
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<connectionStrings>
		<!--<add name="localstore" connectionstring="database=pom;server=10.10.11.48;uid=sa;password=gh34sa56;"
            providername="system.data.sqlclient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.11.46;Uid=sa;Password=uAT3010p;"
			providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.11.48;Uid=sa;Password=SQLstore1_048;"
            providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.11.43;Uid=dcsit_admin;Password=SQLdcsit_043;"
            providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.11.51;Uid=sa;Password=gHsAC3005X;"
            providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.8.201;Uid=sa;Password=SQLviet_123;"
          providerName="System.Data.SqlClient"  />-->
		<!--<<add name="LocalStore" connectionString="Database=POM;Server=10.11.12.13;Uid=sa;Password=SQLgu_012;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.166.2;Uid=ghka_admin;Password=SQLghka_166;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.11.47;Uid=sa;Password=gH12sA89;"
          providerName="System.Data.SqlClient"  />-->
		<!---<add name="LocalStore" connectionString="Database=POM;Server=10.10.194.2;Uid=ghbt_admin;Password=SQLghbt_194;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.138.250;Uid=gtrb_admin;Password=SQLgtrb_138;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.11.127;Uid=gxks_admin;Password=SQLgxks_203;"
			providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.127.2;Uid=ghbk_admin;Password=SQLghbk_127;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.11.130;Uid=sa;Password=SQLndd2_013;"
            providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.159.2;Uid=sa;Password=SQLghks_159;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.11.19;Uid=sa;Password=SQLgssa_019;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.127.172;Uid=usjtc_admin;Password=SQLusjtc_026;"
              providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.11.110;Uid=test8_admin;Password=SQLtest8_110;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.2.230;Uid=sa;Password=SQLtest8_110;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.154.2;Uid=sa;Password=SQLgxpk_154;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.159.2;Uid=sa;Password=SQLghks_159;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.34.2;Uid=sa;Password=SQLghkj_034;"
          providerName="System.Data.SqlClient"  />-->

		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.9.2;Uid=ghsa_admin;Password=SQLghsa_009;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.20.252;Uid=test2_admin;Password=SQLtest2_252;"
          providerName="System.Data.SqlClient"  />-->

		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.2.166;Uid=pomdev_admin;Password=SQLpomdev_166;"
        providerName="System.Data.SqlClient"  />-->

		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.2.164;Uid=dev01_admin;Password=SQLdev01_164;"
        providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.34.2;Uid=ghkj_admin;Password=SQLghkj_034;"
          providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.51.35;Uid=fom6_admin;Password=SQLfom6_035;"
        providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.20.251;Uid=dev01_admin;Password=SQLdev01_251;"
        providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.3.203;Uid=1330_admin;Password=SQL1330_030;"
        providerName="System.Data.SqlClient"  />-->
		<add name="LocalStore" connectionString="Database=POM;Server=10.10.20.251;Uid=dev01_admin;Password=SQLdev01_251;"
		  providerName="System.Data.SqlClient"  />
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.20.252;Uid=test2_admin;Password=SQLtest2_252;"
        providerName="System.Data.SqlClient"  />-->
		<!--<add name="LocalStore" connectionString="Database=POM;Server=10.10.2.241;Uid=1399_admin;Password=SQL1399_099;"
        providerName="System.Data.SqlClient"  />-->

	</connectionStrings>

</configuration>
